@model IEnumerable<OstadYarProject.Models.Project>
@{
    ViewBag.Title = "ProjectList";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">لیست پروژه ها</h4>
                        <p class="category">@Html.ActionLink("ایجاد پروژه", "CreateProject", "Project")</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>@Html.DisplayNameFor(m => m.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.DateTimeStart)</th>
                            <th>@Html.DisplayNameFor(m => m.DateTimeEnd)</th>
                            <th>@Html.DisplayNameFor(m => m.Title)</th>
                            <th>@Html.DisplayNameFor(m => m.Score)</th>
                            <th>عملیات</th>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        <td>@project.Id</td>
                                        <td>@project.DateTimeStart</td>
                                        <td>@project.DateTimeEnd</td>
                                        <td>@project.Title</td>
                                        <td>@project.Score</td>
                                        <td>@Ajax.ActionLink("ویرایش", "UpdateProject", "Project", new { id = @project.Id }, new AjaxOptions() { HttpMethod = "POST" })</td>
                                        <td>@Html.ActionLink("حذف", "DeleteProject", "Project", new { id = @project.Id }, new { @class = "Remove" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>

        $(".Remove").click(function (ev) {
            ev.preventDefault();
            var self = $(this);
            BootstrapDialog.show(
            {
                title: "حذف پروژه",
                draggable: true,
                closable: true,
                closeByBackdrop: false,
                closeByKeyboard: false,
                message: "آیا از حذف اطلاعات مطمئن هستید ؟",
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [
                    {
                        label: "Yes",
                        hotkey: 13,
                        cssClass: "btn-danger",
                        action: function () {
                            location.assign(self.attr("href"));
                        }
                    },
                 {
                     label: "No",
                     hotkey: 27,
                     cssClass: "btn-success",
                     action: function (dlg) {
                         dlg.close();
                     }
                 }]


            });
        });
    </script>
}


